{% extends "main.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class= "login-box">
        <h2>Log In</h2>
        <form action="/login" method="post">
            <div>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>

            <div style="margin-top:10px">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>

            <button style="margin-top:20px" class="btn btn-primary" type="submit">Log In</button>
        </form>

        <p style="color: {{ message_color }};">{{ message }}</p>

        <div style="margin-top:20px">
            <a href="/register">Create New Account</a>
        </div>
    </div>
{% endblock %}
